@using Compass.Wasm.Client.ProjectService
<EditForm Model="Drawing" OnSubmit="Save">
    <div class="input-group mb-2">
        <span class="input-group-text">Item编号</span>
        <input class="form-control" placeholder="Item" @bind-value="@Drawing.ItemNumber" />
    </div>

    <MultiFileUpload Title="图纸(可添加多张)" FileType="application/pdf" @bind-MultiFileUrl="@Drawing.DrawingUrl" />

    <button class="btn btn-success" type="submit">新增图纸</button>
</EditForm>
@code {
    [Parameter]
    public AddDrawingRequest? Drawing { get; set; }
    [Parameter]
    public EventCallback<AddDrawingRequest> SaveDrawing { get; set; }
    public Task Save()
    {
        return SaveDrawing.InvokeAsync(Drawing);
    }
}
