
@inject IJSRuntime JsRuntime

@*todo:控制权限*@
<AuthorizeView Roles="admin,pm">
    <Authorized>
        <span @onclick="Delete"><i class="bi bi-trash3 text-danger" /></span>
    </Authorized>
</AuthorizeView>
<a class="me-3" href="/modulelist/@DrawingResponse.Id">
    <span>@DrawingResponse.ItemNumber</span>
</a>

@code {
    [Parameter]
    public DrawingResponse DrawingResponse { get; set; }
    [Parameter]
    public EventCallback<DrawingResponse> DeleteUser { get; set; }

    async Task Delete()
    {
        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除Item【{DrawingResponse.ItemNumber}】吗？");
        if (confirmResult)
        {
           await DeleteUser.InvokeAsync(DrawingResponse);
        }
    }

}
