@using Compass.Wasm.Shared.ProjectService
@using Compass.Wasm.Client.Pages.ProjectService.Module
@using Compass.Wasm.Shared.IdentityService
@inject HttpClient Http
<tr>
    <td>
        <h5>
            <AuthorizeView Roles="admin,pm,designer">
                <Authorized>
                    <a href="./updatedrawing/@Drawing.Id"><i class="bi bi-gear" /></a>
                </Authorized>
            </AuthorizeView>

            <a href="./modulelist/@Drawing.Id">
                <span style="font-weight: bold">@Drawing.ItemNumber</span>
            </a>
        </h5>

        <div class="row">
            <div class="col-sm-3" style="width: 65px">负责:</div>
            <div class="col-sm-9">
                <a href="/userdrawinglist/@userName">
                    <span>@userName</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3" style="width: 65px">图纸:</div>
            <div class="col-sm-9">
                @if (!string.IsNullOrWhiteSpace(Drawing.DrawingUrl))
                {
                    foreach (var fileUrl in Drawing.DrawingUrl.Split('\n'))
                    {
                        <a href="@fileUrl" target="_blank">@(Path.GetFileName(fileUrl))</a>
                        <br />
                    }
                }
            </div>
        </div>
    </td>
    <td>
        @if (modules != null && modules.Length != 0)
        {
            foreach (var module in modules)
            {
                <DisplayModule Module="module" ShowModuleRelease="ShowModuleRelease" />
            }
        }
    </td>
</tr>

@code {
    [Parameter]
    public DrawingResponse Drawing { get; set; }
    [Parameter]
    public bool ShowModuleRelease { get; set; }

    private ModuleResponse[]? modules;
    private string userName = "";
    protected override async Task OnParametersSetAsync()
    {
        modules=await Http.GetFromJsonAsync<ModuleResponse[]>($"api/Module/All/{Drawing.Id}");
        userName = await Http.GetStringAsync($"api/Drawing/UserName/{Drawing.Id}");
    }

}
