@page "/updatedrawing/{Id}"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<div class="row">
    <div class="col">
        <p>
            <span class="fs-5">更新图纸信息</span>
        </p>
    </div>
    @*todo:控制权限*@
    <AuthorizeView Roles="admin,pm">
        <Authorized>
            <div class="col" style="text-align: right">
                <button class="btn mb-2" type="button" @onclick="Delete"><i class="bi bi-trash3 text-danger" /></button>
            </div>
        </Authorized>
    </AuthorizeView>
    
</div>

@if (drawing != null)
{
    <EditForm Model="drawing" OnSubmit="Save">
        <div class="input-group mb-2">
            <span class="input-group-text">Item编号</span>
            <input class="form-control" placeholder="Item" @bind-value="@drawing.ItemNumber" />
        </div>
        <MultiFileUpload Title="图纸(可添加多张)" FileType="application/pdf" @bind-MultiFileUrl="@drawing.DrawingUrl" />

        <button class="btn btn-success" type="submit">保存</button>
        <button class="btn btn-secondary" type="button" @onclick="@(() => NavigationManager.NavigateTo($"./drawinglist/{drawing.ProjectId}"))">取消</button>
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private DrawingResponse? drawing;
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<DrawingResponse>($"api/Drawing/{Id}");
        if (response==null) NavigationManager.NavigateTo("./projectlist");
        drawing = response;
    }
    private async Task Delete()
    {
        //todo:检查图纸下有没有分段Module
        if (await Http.GetFromJsonAsync<bool>($"api/Module/Exists/{drawing.Id}"))
        {
            await JsRuntime.InvokeVoidAsync("alert", "该图纸下包含分段，不能删除！\n请先删除分段。");
            return;
        }
        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除Item图纸【{drawing.ItemNumber}】吗？");
        if (confirmResult)
        {
            var result = await Http.DeleteAsync($"api/Drawing/{Id}");
            if (result.IsSuccessStatusCode) NavigationManager.NavigateTo($"./drawinglist/{drawing.ProjectId}");
        }
    }
    private async Task Save()
    {
        var result = await Http.PutAsJsonAsync($"api/Drawing/{Id}", drawing);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo($"./drawinglist/{drawing.ProjectId}");
    }
}
