@using Compass.Wasm.Shared.ProjectService
@using Compass.Wasm.Shared.CategoryService
@inject HttpClient Http
@if (type != null)
{
    <div class="row">
        <div class="col-sm-3" style="width: 61px">异常:</div>
        <div class="col-sm-9" style="color: red">
            <span>@($"{type.Name}({type.Stakeholder})")：@Problem.Description</span>
        </div>
    </div>
    @if (!string.IsNullOrWhiteSpace(Problem.Solution))
    {
        <div class="row">
            <div class="col-sm-3" style="width: 61px">方案:</div>
            <div class="col-sm-9" style="color: green">
                <span >@Problem.Solution</span>
            </div>
        </div>
        
    }
}
@code {
    [Parameter]
    public ProblemResponse Problem { get; set; }

    private ProblemTypeResponse? type;
    protected override async Task OnParametersSetAsync()
    {
        type = await Http.GetFromJsonAsync<ProblemTypeResponse>($"api/ProblemType/{Problem.ProblemTypeId}");
    }
}
