@page "/projectlist"
@inject HttpClient Http
@inject IJSRuntime JsRuntime
<PageTitle>Project List</PageTitle>

<div class="row position-relative" style="border: 1px solid lightgray;border-radius: 10px">
    <div class="col my-3">
        @if (_projects != null)
        {
            <span>总项目数:@_projects.Count</span>
        }
    </div>
    @*todo:控制权限*@
    <AuthorizeView Roles="admin,pm">
        <Authorized>
            <div class="col position-absolute bottom-0 end-0" style="text-align: right;width: 10%">
                <span class="btn btn-outline-danger mb-2" @onclick="ShowAddProject">@(_isAddDrop ? "收起" : "展开")</span>
            </div>
        </Authorized>
    </AuthorizeView>
</div>
@if (_isAddDrop)
{
    <AddProject Project="_addProjectRequest" SaveProject="SaveProject" />
}
<table class="table table-hover" style="table-layout: fixed;word-break:break-all;">
    <thead>
        <tr>
            <th style="width: 10%">项目编号</th>
            <th style="width: 35%">项目名称</th>
            <th style="text-align: center">项目分类</th>
            <th style="text-align: center">风险等级</th>
            <th style="text-align: center">合同</th>
            <th style="text-align: center">领料单</th>
            <th style="text-align: center">特殊要求</th>
        </tr>
    </thead>
    <tbody>
        @if (_projects.Count == 0)
        {
            <p>加载中...</p>
        }
        else
        {
            @foreach (var project in _projects)
            {
                <DisplayProject Project="project"/>
            }
        }
    </tbody>
</table>

@code {
    private List<ProjectDto>? _projects = new();
    private ProjectDto? _addProjectRequest;
    private bool _isAddDrop;
    protected override async Task OnParametersSetAsync()
    {
        await RefreshData();
    }

    async Task RefreshData()
    {
        var result = await Http.GetFromJsonAsync<ApiResponse<List<ProjectDto>>>($"api/Project/All");
        _projects = result.Result;
    }

    private void ShowAddProject()
    {
        if (!_isAddDrop) _addProjectRequest = new ProjectDto();
        _isAddDrop = !_isAddDrop;
    }
    private async Task SaveProject(ProjectDto request)
    {
        if (string.IsNullOrWhiteSpace(request.Name) || string.IsNullOrWhiteSpace(request.OdpNumber))
        {
            await JsRuntime.InvokeVoidAsync("alert", "填写的信息不完整");
            return;
        }
        _isAddDrop = false; //收起添加项目
        var result = await Http.PostAsJsonAsync("api/Project/Add", _addProjectRequest);
        if (result.IsSuccessStatusCode) await RefreshData();
    }
}
