@using Compass.Wasm.Shared.CategoryService
@inject HttpClient Http
<td>@(string.Join('\n', list))</td>

@code {
    [Parameter]
    public ProductResponse? Product { get; set; }
    private List<string> list = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (Product != null)
        {
            var models = await Http.GetFromJsonAsync<ModelResponse[]>($"api/Model/All/{Product.Id}");
            if (models != null)
            {
                foreach (var model in models)
                {
                    list.Add(model.Name);
                }
            }
        }
    }
}
