@using Compass.Wasm.Shared.DataService.Entities
@inject HttpClient Http
@if (_uviData != null)
{
    foreach (var s in _uviData.ToString().Split(','))
    {
        <span>@s</span><br/>
    }
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private UviData? _uviData;
    protected override async Task OnParametersSetAsync()
    {
        _uviData = await Http.GetFromJsonAsync<UviData>($"api/Data/{Id}");
        if (_uviData!=null) _uviData.ChangeId(Id);
    }

}
