@using Compass.Wasm.Shared.ProjectService
@using Compass.Wasm.Shared.CategoryService

@inject HttpClient Http

<p>
    <AuthorizeView Roles="admin,pm,designer">
        <Authorized>
            <a href="./updatemodule/@Module.Id"><i class="bi bi-gear" /></a>
        </Authorized>
    </AuthorizeView>
    <span style="font-weight: bold">@Module.Name</span>
    @if (model != null)
    {
        <span>（@model.Name）</span>
    }
    @if (!string.IsNullOrWhiteSpace(Module.SpecialNotes))
    {
        <br />
        foreach (var note in Module.SpecialNotes.Split('\n'))
        {
            <span style="color: blue">@note</span>

            <br />
        }
    }
</p>

@code {
    [Parameter]
    public ModuleResponse Module { get; set; }

    private ModelResponse? model;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        model = await Http.GetFromJsonAsync<ModelResponse>($"api/Model/{Module.ModelId}");
    }

}
