@page "/drawing/update/{Id}"
@using Compass.Wasm.Client.Services.Projects
@using Compass.Wasm.Shared.Projects
@using Microsoft.AspNetCore.Components

@inject IDrawingService DrawingService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<PageTitle>更新图纸</PageTitle>

<div class="row">
    <div class="col">
        <p class="fs-5">更新图纸信息</p>
    </div>
    <CompDeleteIcon Roles="admin,pm" Click="Delete"/>
</div>

@if (_drawing != null)
{
    <EditForm Model="_drawing" OnSubmit="Save">
        <div class="input-group mb-2">
            <span class="input-group-text">Item编号</span>
            <input class="form-control" placeholder="Item" @bind-value="@_drawing.ItemNumber" />
        </div>
        <MultiFileUpload Title="图纸(可添加多张)" FileType="application/pdf" @bind-MultiFileUrl="@_drawing.DrawingUrl" />
        
        <AuthorizeView Roles="admin">
            <Authorized Context="auth">
                <FileUpload Title="截图(测试用)" @bind-FileUrl="@_drawing.ImageUrl" />
            </Authorized>
        </AuthorizeView>

        <CompSaveCancelButtons CancelUrl="@($"drawings/{_drawing.ProjectId}")" />
    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private DrawingDto? _drawing=new();

    protected override async Task OnInitializedAsync()
    {
        var result = await DrawingService.GetFirstOrDefault(Guid.Parse(Id));
        if (!result.Status) NavigationManager.NavigateTo("projects");
        _drawing = result.Result;
    }

    private async Task Delete()
    {
        //todo:检查图纸下有没有分段Module
        //if (await Http.GetFromJsonAsync<bool>($"api/Module/Exists/{drawing.Id}"))
        //{
        //    await JsRuntime.InvokeVoidAsync("alert", "该图纸下包含分段，不能删除！\n请先删除分段。");
        //    return;
        //}

        var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除Item图纸【{_drawing.ItemNumber}】吗？");
        if (confirmResult)
        {
            var result = await DrawingService.DeleteAsync(Guid.Parse(Id));
            if (result.IsSuccessStatusCode) NavigationManager.NavigateTo($"drawings/{_drawing.ProjectId}");
        }
    }
    private async Task Save()
    {
        var result = await DrawingService.UpdateAsync(Guid.Parse(Id), _drawing);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo($"drawings/{_drawing.ProjectId}");
    }
}
