@inject ILessonService LessonService
@foreach (var lesson in ProjectDto.LessonDtos)
{
    //虚线分割
    <hr size="1" style="border-top:1px deeppink dashed;">
    <CompUpdateIcon Roles="admin,pm" Url="@($"lesson/update/{lesson.Id}")" />
    <span style="color: dodgerblue">内容：</span>
    <br />
    <CompMultiLineText Text="@lesson.Content" />
    <span style="color: dodgerblue">附件：</span>
    <br />
    <CompFiles Roles="admin,pm"
           FileUrls="@lesson.ContentUrl"
           UpLoadUrl="@($"lesson/update/{lesson.Id}")" />
}

@code {
    [Parameter]
    public ProjectDto? ProjectDto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ProjectDto.Id != null)
        {
            var lResult = await LessonService.GetAllByProjectIdAsync(ProjectDto.Id.Value);
            if (lResult.Status) ProjectDto.LessonDtos = lResult.Result;
        }
    }
}
