@inherits LayoutComponentBase
@using Compass.Wasm.Client.Pages.IdentityService
@using System.Globalization
<head>
    <link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-2">
            <span>@DateTime.Today.ToString("yyyy年MM月dd日")</span>
            <a href="https://github.com/felixzhu1989/Compass.Wasm" target="_blank">About</a>
            <LoginLink/>
        </div>

        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
