@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-1">
            <div style="color: green; text-align: right">
                <a href="https://github.com/felixzhu1989/Compass.Wasm" target="_blank">关于</a>
                
                <LoginLink/>
            </div>
        </div>
        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
