@inherits LayoutComponentBase
@using Compass.Wasm.Client.Pages.IdentityService
<head>
    <link rel="stylesheet" href="lib/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-1">
            @*<div class="col">
                <Search/>
            </div>*@
            <div style="color: green; text-align: right">
                <a href="https://github.com/felixzhu1989/Compass.Wasm" target="_blank">About</a>
                <LoginLink/>
            </div>
        </div>

        <article class="content px-1">
            @Body
        </article>
    </main>
</div>
