<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/1">
            <i class="bi bi-browser-safari me-2" />Compass
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/1" Match="NavLinkMatch.All">
                <i class="bi bi-house me-2" /> 项目跟踪
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="productionplan">
                <i class="bi bi-calendar4-range me-2" /> 生产计划
            </NavLink>
        </div>
        <AuthorizeView Roles="admin,pm">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="projectlist/1">
                        <i class="bi bi-journal-text me-2" /> 项目列表
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

            <AuthorizeView Roles="admin,manager, pm, designer">
                <Authorized> 
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="drawingplan/1">
                        <i class="bi bi-calendar4-week me-2"/> 制图计划
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>


        <AuthorizeView Roles="admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="categorylist">
                        <i class="bi bi-diagram-3 me-2" aria-hidden="true" /> 模型管理
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="functiontest">
                        <i class="bi bi-alarm me-2" aria-hidden="true" /> 功能测试
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
