@using Microsoft.AspNetCore.Components
@using Compass.Wasm.Client.ProjectService
@inject HttpClient Http

<EditForm Model="Issue" OnSubmit="Save">
    <div class="input-group mb-2">
        <span class="input-group-text">经验教训</span>
        <textarea class="form-control" placeholder="请详细描述经验教训，可输入多行" style="height: 120px" @bind="@Issue.Description"></textarea>
    </div>
    <MultiFileUpload Title="经验附件（可上传多个附件）" FileType="image/*" @bind-MultiFileUrl="@Issue.DescriptionUrl" />

    <button class="btn btn-success" type="submit">新增经验教训</button>
</EditForm>

@code {
    [Parameter]
    public AddIssueRequest? Issue { get; set; }
    [Parameter]
    public EventCallback<AddIssueRequest> SaveIssue { get; set; }
    
    [Parameter]
    public string ReportUserName { get; set; }
    
    public async Task Save()
    {        
        Issue.ReportUserId =await Http.GetFromJsonAsync<Guid>($"api/UserAdmin/IdByName/{ReportUserName}");
        await SaveIssue.InvokeAsync(Issue);
    }
}