@using Microsoft.AspNetCore.Components
@using Compass.Wasm.Client.ProjectService
@using Compass.Wasm.Client.Pages.CategoryService
@inject HttpClient Http

<EditForm Model="Problem" OnSubmit="Save">
    <ProblemTypeChoose @bind-ProblemTypeId="ProblemTypeId" />
    
    <div class="input-group mb-2">
        <span class="input-group-text">问题描述</span>
        <textarea class="form-control" placeholder="请选选择上述①②异常类型，再详细描述异常问题，可输入多行" style="height: 120px" @bind="@Problem.Description"></textarea>
    </div>
    <MultiFileUpload Title="描述附件（可上传多个附件）" FileType="image/*" @bind-MultiFileUrl="@Problem.DescriptionUrl" />

    <button class="btn btn-success" type="submit">新增异常</button>
</EditForm>

@code {
    [Parameter]
    public AddProblemRequest? Problem { get; set; }
    [Parameter]
    public EventCallback<AddProblemRequest> SaveProblem { get; set; }
    
    [Parameter]
    public string ReportUserName { get; set; }
    [Parameter]
    public string ProblemTypeId { get; set; }
    public async Task Save()
    {
        Problem.ProblemTypeId =Guid.Parse(ProblemTypeId);
        Problem.ReportUserId =await Http.GetFromJsonAsync<Guid>($"api/UserAdmin/IdByName/{ReportUserName}");
        await SaveProblem.InvokeAsync(Problem);
    }
}
