@page "/functiontest"
<PageTitle>Function Test</PageTitle>

<h3>测试QRCode API</h3>
<img src="https://api.wrdan.com/qr?data=http://pdmserver" data-origin="https://api.wrdan.com/qr?data=http://pdmserver" alt="">
<hr />



<TestFileUpload />
<hr />

<TestAuthorized />
<hr />



@code {

}
