@page "/functiontest"
@inject IJSRuntime JsRuntime

<PageTitle>Function Test</PageTitle>


<h3>测试QRCode API</h3>
<img src="https://api.wrdan.com/qr?data=http://pdmserver" data-origin="https://api.wrdan.com/qr?data=http://pdmserver" alt="">
<hr />



<TestFileUpload />
<hr />

<TestAuthorized />
<hr />



@code {



    //await JsRuntime.InvokeVoidAsync("alert", "该项目下包含图纸，不能删除！");
    //var confirmResult = await JsRuntime.InvokeAsync<bool>("confirm", $"确定要删除项目【{project.OdpNumber}】吗？");
}
