@page "/updatedrawingplan/{Id}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Update Drawing Plan</PageTitle>

<EditForm Model="drawingPlan" OnSubmit="Save">
    <AuthorizeView Roles="admin,pm">
        <Authorized Context="auth">
            <div class="input-group mb-2">
                <span class="input-group-text">计划发图</span>
                <input type="date" class="form-control" @bind-value="@drawingPlan.ReleaseTime" />
            </div>
            <button class="btn btn-success mb-2" type="submit">保存</button>
        </Authorized>
    </AuthorizeView>
    <button class="btn btn-secondary mb-2" type="button" @onclick="@(() => NavigationManager.NavigateTo("/drawingplan/1"))">取消</button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    private DrawingPlanResponse? drawingPlan = new();

    protected override async Task OnParametersSetAsync()
    {
        drawingPlan =await Http.GetFromJsonAsync<DrawingPlanResponse>($"api/DrawingPlan/{Id}");
    }

    private async Task Save()
    {
        var result = await Http.PutAsJsonAsync($"api/DrawingPlan/{Id}", drawingPlan);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("/drawingplan/1");
    }
}
