@if (!string.IsNullOrEmpty(Text))
{
    @foreach (var note in Text.Split('\n'))
    {
        <span>@note</span>
        <br />
    }
}

@code {
    [Parameter]
    public string Text { get; set; }
}
