@using Compass.Wasm.Shared.Plans
<span>
    @(Batch==1? "①" :
        Batch==2 ? "②" :
        Batch==3 ? "③" :
        Batch==4 ? "④" :
        Batch==5 ? "⑤" :
        Batch==6 ? "⑥" :
        Batch==7 ? "⑦" :
        Batch==8 ? "⑧" :
        Batch==9 ? "⑨" :
        Batch==10 ? "⑩" : ""
        )
</span>
@code {
    [Parameter]
    public int Batch { get; set; }
}
