@page "/updatedrawingreleaseactual/{Id}"
@using Compass.Wasm.Shared.Plans
@inject HttpClient Http
@inject NavigationManager NavigationManager
<PageTitle>Update Drawing Release Actual</PageTitle>
<EditForm Model="prodPlan" OnSubmit="Save">
    <div class="input-group mb-2" style="max-width: 250px">
        <span class="input-group-text">创建时间</span>
        <input type="date" class="form-control" @bind-value="@prodPlan.DrwReleaseTime" />
    </div>
    
    <CompSaveCancelButtons CancelUrl="mainplans" />
</EditForm>
@code {
    [Parameter]
    public string Id { get; set; }
    private MainPlanDto? prodPlan = new();
    protected override async Task OnInitializedAsync()
    {
        prodPlan = await Http.GetFromJsonAsync<MainPlanDto>($"api/ProductionPlan/{Id}");
        prodPlan.DrwReleaseTime=DateTime.Today;
    }
    private async Task Save()
    {
        var result = await Http.PutAsJsonAsync("api/ProductionPlan/DrawingReleaseActual", prodPlan);
        if (result.IsSuccessStatusCode) NavigationManager.NavigateTo("productionplanlist");
    }
}
