@page "/update/uvf-huawei/{Id}"
@using Compass.Wasm.Shared.DataService.Entities
@inject HttpClient Http
@if (_uvfHuaweiData != null)
{
    <ShowPdfDrawings Id="@Id"/>
    <p>@_uvfHuaweiData.ToString()</p>
    <EditForm Model="_uvfHuaweiData" OnSubmit="Save">
        
        

    </EditForm>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private UvfHuaweiData? _uvfHuaweiData;
    protected override async Task OnParametersSetAsync()
    {
        _uvfHuaweiData = await Http.GetFromJsonAsync<UvfHuaweiData>($"api/Data/{Id}");
        if (_uvfHuaweiData!=null) _uvfHuaweiData.ChangeId(Guid.Parse(Id));
    }

    async Task Save()
    {

    }
}
