@page "/"

<PageTitle>Project Tracking</PageTitle>

<h3>项目跟踪信息</h3>
<AuthorizeView>
    <Authorized>
        <span style="color: green">您好，@context.User.Identity.Name，展开右侧三角形，报告项目异常。</span>

    </Authorized>
    <NotAuthorized>
        <span style="color: red">报告项目异常请先登录！</span>
    </NotAuthorized>
</AuthorizeView>



